body{
    margin: 0;
}
.element h5{
    cursor: pointer;
}
#users{
    height: 100vh;
    background-color: #cae1ca;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 5px solid #255b25;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#usersBlock{
    border: 2px solid #416240;
    width: 400px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.h4Style{
    width: 80%;
    box-sizing: border-box;
    padding: 5px;
    margin: 10px 10px;
    border: 2px solid #416240;
    box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.1);
}
.styleUser{
    width: 150px;
    height: 120px;
    margin: 0;
}
.userButton{
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: #eee0b4;
    justify-content: center;
}
#userDetails{
    width: 100vw;
    height: 100vh;
    background-color: #bbdcef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#divInfo{
    width: 100vw;
    height: 25vh;
    display: flex;
}
#divInfo>div{
    width: 12vw;
    height: 30vh;
    margin: 5px;
    background-color: #4d4646;
    text-align: center;
    display: block;
    word-wrap: break-word;
    color: white;
}
.buttonInfoUser{
    width: 90%;
    height: 40px;
    margin-top: 70px;
    font-size: 20px;
    background-color: #eee0b4;
    border-radius: 15px;
}
.userPost{
    width: 100vw;
    text-align: center;
}
.post5{
    width: 20vw;
    border-radius: 25px;
    background-color: #4d4646;
    color: white;
    box-shadow: 10px 2px 20px rgba(0, 0, 0, 0.1);
}
.post5:hover{
    background-color: #cb7611;
    transition: 2s;
}
#postDetails{
    width: 100vw;
    height: 100vh;
    background-color: #f5c7ce;
    text-align: center;

}
#postInfo{
    width: 100vw;
    height: 25vh;
    background-color: #f5c7ce;
}
#postInfo>h1, #postInfo>h3, #postInfo>p{
    margin: 0;
}
.commPost{
    width: 100vw;
    height: 65vh;
    background-color: #f5c7ce;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.blockComm{
    width: 20%;
    height: 220px;
    margin: 5px;
    background-color: darkgray;
}
.blockComm>h3{
    margin-bottom: 0;
}
.blockComm>p{
    margin: 0;
}
#commentsStyle{
    margin: 0;
}
